<div class="dashboard-repos-index">
  <h1>Organizations of a user</h1>

  <table>
    <tr>
      <th> Repository name </th>
      <th> Description </th>
      <th> Repository Url </th>
    </tr>

    {{#each model as |org|}}
    	<tr>
        <td> {{org.name}} </td>

        {{#if org.desciption}}
          <td> {{org.desciption}} </td>
        {{else}}
          <td> No description </td>
        {{/if}}

        <td> {{org.html_url}} </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="3" class="-center"> No orgs to show </td>
      </tr>
    {{/each}}
  </table>
</div>
